<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- <preference for="Alexander\Cart\Api\CartInterface" type="Alexander\Cart\Model\CartApi"></preference>  -->

<type name="Magento\Checkout\Model\Cart">
        <plugin name="alexander_cart_restrict" type="Alexander\Cart\Plugin\Cart"/> 
        <!-- </plugin> -->
</type>


<type name="Magento\Framework\Pricing\Price\Pool">
	<arguments>
		<argument name="prices" xsi:type="array">
			<item name="my_price" xsi:type="string">Alexander\Cart\Prices\Price</item>
		</argument>
	</arguments>
</type>

<virtualType name="anotherHelperName" type="Alexander\Cart\Helper\Myhelper">
	<arguments>
		<argument name="str" xsi:type="string">Anotherstring</argument>
	</arguments>
</virtualType>



<type name="Alexander\Cart\Controller\Index\Index">
	<arguments>
		<argument name="anotherhelper" xsi:type="object">anotherHelperName</argument>
	</arguments>
</type>








</config>


