<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="customer_desc" translate="label" sortOrder="200">
            <label>Customer Discount</label>
        </tab>
        <section id="my_section" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>My Section</label>
            <tab>customer_desc</tab>
            <resource>Magento_Catalog::config_catalog</resource>
            <group id="my_group" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>My Group</label>
                <field id="first_field" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Field label</label>
                    <comment>Field comment First</comment>
                </field>
                <field id="second_field" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Second label</label>
                    <comment>Field comment Second</comment>
                </field>
            </group>
        </section>
    </system>
</config>
