<!-- <form action="handler.php"> -->

<!-- <div id="okno">

  <p>Enter your name</p>
  <p><input id="input_name" name="customer_name" type="text" data-bind="value: username"></p>
  <p>Enter your phone</p>
  <p><input id="input_phone" name="customer_phone" type="text" data-bind="value: userphone"></p>
 -->  <!-- <p><button type="submit" data-bind="click: reserve">Callback</button></p> -->

<!--   <a href="#" class="close"><button type="submit" data-bind="click: reserve">Close and send</button></a>
</div>
     
  <a href="#okno"><button>Callback</button></a> -->


<!-- <button type="submit" title="Callback" id="callback" data-bind="click: reserve()">Callback</button>
 -->

 
<button id="modal-btn" data-bind="click: reserve()">Click me</button>

  <div id="modal-content">
	<div class="modal-inner-content">
		  <p>Enter your name</p>
		  <p><input id="input_name" name="customer_name" type="text" data-bind="value: username"></p>
		  <p>Enter your phone</p>
		  <p><input id="input_phone" name="customer_phone" type="text" data-bind="value: userphone"></p>
	</div>
</div>

