<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <add id="Alexander_Grid::index" title="Callback" module="Alexander_Grid" parent="Magento_Backend::marketing_communications" action="callbacks" sortOrder="51" resource="Magento_Backend::marketing_communications"/>

    </menu>
</config>
